body{
    padding: 100px;
    text-align: center;
}
 .bar {
    /* font-size: 10px */
    width: 30em
    height: 1em
    border-radius: 0.5em
    position: relative
    background: #f2f2f2
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1)
  }
   .bar .percentage {
    position: relative
    font-size: 1em
    background: tomato
    height: 1em
    border-radius: 0.5em
  }
  .has-tip:before,
  .has-tip:after {
    content: "";
    position: absolute;
    opacity: 0;
  }
   .has-tip:before {
    bottom: -10px;
    right: -5px;
    border: 5px solid;
    border-color: transparent transparent tomato transparent;
    transition: opacity 0.1s;
  }
  .has-tip:after {
    content: attr(data-perc);
    bottom: 0;
    right: 0;
    white-space: nowrap;
    padding: 0.6em 1em;
    border-radius: 2em;
    line-height: 1;
    color: #fff;
    background: tomato;
    transform: translateX(50%) translateY(100%);
    transition: transform 0.2s, opacity 0.1s;
  }
    .has-tip:hover:before,
  .has-tip.active:before {
    opacity: 1;
  }

  .has-tip:hover:after,
  .has-tip.active:after {
    opacity: 1;
    transform: translateX(50%) translateY(100%) translateY(10px);
}

.input-field{
    margin: 20px 50px;
    padding:40px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px 0px grey;
}
#transaction-area{
    display: none;
}
.row{
    margin: 50px 0px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    color: white;
    border-radius: 10px;
    padding: 30px;
}
.status:hover{
    box-shadow: 5px 5px 10px grey;
    transition: box-shadow 0.2s;
}
.balance-status{
    margin: 20px;
    padding: 20px;
    border-radius: 7px;
}
/* MEDIA QUERY */
@media (max-width: 689px) {
    body{
        padding: 10px;
    }
    #login-area{
        width: 80%;
        margin: auto;
    }
    .input-field{
        width: 100%;
        padding: 10px;
        position: relative;
        left: -50px;
    }
}
